<!-- templates/registration/password_reset_confirm.html -->
{% extends 'registration/base.html' %}
{% load i18n %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}

{% if validlink %}
{% if form.errors %}
  <p style="text-align: center; background-color: red; color: white; padding: 2px;">verifique se as senhas seguem as instruções</p>
{% endif %}
  <div style="justify-content: center; display: flex;">
  <a style="align-items: center; display: flex; justify-content: center; border-radius: 50%; padding: 5px;"><img style="max-width: 56%; margin: 10% 0 0 3%;"src="https://api.goodcasting.pt/docs/logo.e05d668f.png" alt="logo" border="0" /></a>  
  </div>
  <h2 class="ui header">Recuperar senha</h2>
  <form method="POST">
    {% csrf_token %}
      <div class="ui left icon input fluid form-input">
        <input type="password" name="new_password1" minlength="8" required id="id_new_password1" placeholder="Digite sua nova senha" />
        <i aria-hidden="true" class="lock icon"></i>
      </div>
      <div class="ui left icon input fluid form-input">
        <input type="password" name="new_password2" minlength="8" required id="id_new_password2" placeholder="Confirme sua nova senha" />
        <i aria-hidden="true" class="lock icon"></i>
      </div>
      <span class="helptext">
        <ul>
          <li>Sua senha não pode ser tão parecida com suas outras informações pessoais.</li>
          <li>Sua senha precisa conter pelo menos 8 caracteres.</li>
          <li>Sua senha não pode ser uma senha habitualmente utilizada.</li>
          <li>Sua senha não pode ser inteiramente numérica.</li>
        </ul>
      </span>
    <button class="ui primary button fluid">Alterar senha</button>
  </form>
{% else %}

<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}
{% endblock %}
